<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="titulo">
    <th mat-header-cell *matHeaderCellDef> Titulo </th>
    <td mat-cell *matCellDef="let row"> {{row.titulo}} </td>
  </ng-container>

  <ng-container matColumnDef="descricao">
    <th mat-header-cell *matHeaderCellDef> Descrição </th>
    <td mat-cell *matCellDef="let row"> {{row.descricao}} </td>
  </ng-container>

  <ng-container matColumnDef="sigla">
    <th mat-header-cell *matHeaderCellDef> Sigla </th>
    <td mat-cell *matCellDef="let row"> {{row.sigla}} </td>
  </ng-container>

  <ng-container matColumnDef="fase">
    <th mat-header-cell *matHeaderCellDef> Fase </th>
    <td mat-cell *matCellDef="let row"> {{row.fase}} </td>
  </ng-container>

  <ng-container matColumnDef="versao">
    <th mat-header-cell *matHeaderCellDef> Versao </th>
    <td mat-cell *matCellDef="let row"> {{row.versao}} </td>
  </ng-container>

  <ng-container matColumnDef="acoes">
    <th mat-header-cell *matHeaderCellDef>Ações</th>
    <td mat-cell *matCellDef="let row">
      <button mat-button type="button"  (click)="abrirEditar(row)">Editar</button>
      <button mat-button color="warn" type="button" (click)="abrirDeletar(row)">Deletar</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


